@import "tailwindcss";

/* Thème de couleurs */
@theme {
  --color-noir: #161616;
  --color-noir25: #252525;
  --color-disabled: #9C9C9C;
  --color-blanc: #F7F0F0;
  --color-vert: #28A745;
  --color-negative: #D43C3C;
  --font-inter: "Inter";
}

/* Styles globaux */
html {
  background: var(--color-noir);
  font-family: 'Inter', sans-serif;
}

/* Titres */
h1 {
  @apply text-blanc font-bold text-4xl sm:text-5xl lg:text-6xl leading-tight;
}

h2 {
  @apply text-blanc font-bold text-3xl sm:text-4xl lg:text-5xl mb-6;
}

h3 {
  @apply text-blanc font-bold text-base; /* Taille réduite pour les cards */
}

/* Paragraphes */
p {
  @apply text-blanc text-base sm:text-lg lg:text-xl leading-relaxed;
}

.card p {
  @apply text-disabled text-sm; /* Taille réduite pour les descriptions dans les cards */
}

/* Espacement entre les sections */
section {
  padding: 120px 0; /* Padding vertical augmenté */
}


/* Style global pour tous les boutons */
button, .btn {
  @apply px-4 py-3 font-semibold rounded-lg transition-all border-2 cursor-pointer;
}


/* Bouton principal (exemple : action principale) */
.btn-primary {
  @apply bg-transparent border-blanc text-blanc hover:border-vert hover:text-vert hover:bg-transparent;
}

/* Bouton secondaire (exemple : téléchargement) */
.btn-secondary {
  @apply bg-vert hover:bg-blanc text-blanc hover:text-noir border-vert hover:border-noir;
}

/* Bouton danger (exemple : actions négatives) */
.btn-danger {
  @apply bg-negative text-white border-negative hover:bg-negative;
}

/* Bouton spécifique au header */
.btn-header {
  @apply bg-transparent hover:bg-blanc text-blanc hover:text-noir border-vert hover:border-noir;
}


/* Cards */
.card {
  @apply bg-noir25 p-[20px] rounded-lg shadow-md text-center transition-transform transform hover:scale-[1.05] hover:shadow-lg;
}

/* Liens (hover) */
a {
  @apply text-blanc transition-all duration-300 ease-in-out;
}

a:hover {
  color: var(--color-vert); /* Passe au vert au survol */
}

/* Icône du menu déroulant (arrondi) */
.menu-icon {
  @apply w-12 h-12 flex items-center justify-center rounded-full border border-blanc hover:bg-blanc hover:text-noir transition-all;
}
